@model IEnumerable<ProductVM>

<div class="row pb-3">

    @foreach (var product in Model)
    {
            <div class="col-lg-4 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="" class="card-img-top rounded">
                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                    <p class="card-title  text-warning text-center">CreationDate <b> @product.CreationDate</b></p>
                                </div>
                            <div class="pl-1 mb-3">
                                    <p class="text-dark text-opacity-75 text-center mb-0">
                                         Price:
                                        <span class="text-decoration">
                                            $@product.Price
                                        </span>
                                    </p>
                                </div>
                                <div class="pl-1 mb-3">
                                    <p class="text-dark text-opacity-75 text-center mb-0">
                                        StartDate:
                                        <span class="text-decoration">
                                        @product.StartDate
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a asp-action="Details" asp-route-Id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    }

</div>